---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/starwind/button";
import Badge from "@/components/starwind/badge";
import { getCollection, render } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const articles = await getCollection("articles");
    return articles.map((article) => ({
        params: { slug: article.data.slug },
        props: { article },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { article } = Astro.props;
const { Content } = await render(article);
---

<Layout>
    <div class="mx-auto items-center">
        <div class="text-center">
            <h1 class="font-bold text-7xl">{article.data.title}</h1>
            <h3>
                <span>Written by {article.data.author}</span>

                <small>on {article.data.published}</small>
            </h3>
            <Button href="/">Back to Projects</Button>

             
        </div>
      
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div class="p-8">
                <img
                    src=`../images/${article.data.image}`
                    class="object-cover w-full h-72 bg-top rounded-md shadow-md"
                />
            </div>
            <div class="p-8">
                <Content />
                 <Button variant="warning" href={article.data.url}>More Info</Button>
            </div>
           
        </div>
    </div>
   <section class="p-4">
      <h2 class="font-bold p-4 text-3xl italic">Tags</h2>
        <div class="flex flex-row mx-auto items-center text-center">
                    {article.data.tech.map((item: any) => (
                    <Badge variant="info">
                        <h3 class="p-1 text-center">{item}</h3>
                    </Badge>
                ))}
                </div>
   </section>
</Layout>
