---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/starwind/card";

import { Button } from "@/components/starwind/button";

const { project, buttonText } = Astro.props;
---

<Card class="w-[400px]" slot="preview">
    <CardHeader>
        <CardTitle>{project.data.title}</CardTitle>
        <CardDescription>            
            <img class="object-cover h-32 w-full rounded-md" src=`../images/${project.data.image}` />
            <span>{project.data.author}</span>
            <small>{project.data.published}</small>
            <h2>{project.data.description}</h2>
        </CardDescription>
    </CardHeader>
    <CardContent class="flex flex-col gap-4">
        <div class="flex w-full flex-col gap-2">
            <slot />
        </div>
    </CardContent>
    <CardFooter class="flex justify-between">
        <Button>{buttonText}</Button>
    </CardFooter>
</Card>
